node-red/flows.json
[
    {
        "id": "986567b5fb261662",
        "type": "tab",
        "label": "Slack",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f27b2983dff2f5b4",
        "type": "slack-config",
        "name": "Team Slack"
    },
    {
        "id": "258724b709c1a8e4",
        "type": "http in",
        "z": "986567b5fb261662",
        "name": "POST /slack",
        "url": "/slack",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "7e06795ed510b8bc"
            ]
        ]
    },
    {
        "id": "709d00206de23e77",
        "type": "comment",
        "z": "986567b5fb261662",
        "name": "Send message to slack",
        "info": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "7038e011a7626eb1",
        "type": "http response",
        "z": "986567b5fb261662",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "7e06795ed510b8bc",
        "type": "function",
        "z": "986567b5fb261662",
        "name": "Create Slack Message",
        "func": "/**\n * Message\n */\nmsg.topic = 'chat.postMessage';\nmsg.payload = {\n    channel: 'bi-alerts',\n    text: `Alert \"${msg.payload.alert.title}\" was triggered`\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "1ba4cf3804cdebbe"
            ]
        ]
    },
    {
        "id": "1ba4cf3804cdebbe",
        "type": "slack-web-out",
        "z": "986567b5fb261662",
        "client": "f27b2983dff2f5b4",
        "name": "",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "b6796983f28d0c9c"
            ]
        ]
    },
    {
        "id": "b6796983f28d0c9c",
        "type": "function",
        "z": "986567b5fb261662",
        "name": "Response status",
        "func": "/**\n * Ok\n */\nif (msg.payload.ok) {\n   msg.statusCode = 200;\n   return msg;\n}\n\n/**\n * Error\n */\nmsg.statusCode = 400;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 180,
        "wires": [
            [
                "7038e011a7626eb1"
            ]
        ]
    },
    {
        "id": "60ce97aa642b6f08",
        "type": "catch",
        "z": "986567b5fb261662",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 660,
        "y": 260,
        "wires": [
            [
                "e61dc33301c7d6e1"
            ]
        ]
    },
    {
        "id": "e61dc33301c7d6e1",
        "type": "http response",
        "z": "986567b5fb261662",
        "name": "Error Response",
        "statusCode": "400",
        "headers": {},
        "x": 1020,
        "y": 260,
        "wires": []
    }
]