node-red/grafana-incident.json
[
  {
    "id": "22f1666738d6b3b4",
    "type": "tab",
    "label": "Grafana Incident",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "3d18a4a57326a98c",
    "type": "http in",
    "z": "22f1666738d6b3b4",
    "name": "Incident Trigger /incident",
    "url": "/incident",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 540,
    "wires": [["12cd8aea02483dc1", "23addb722a862d6b", "9519e5973dbeaaf5"]],
    "outputLabels": ["event"]
  },
  {
    "id": "12cd8aea02483dc1",
    "type": "debug",
    "z": "22f1666738d6b3b4",
    "d": true,
    "name": "Show Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 380,
    "wires": []
  },
  {
    "id": "b13dfb08f8fa529d",
    "type": "catch",
    "z": "22f1666738d6b3b4",
    "name": "Error Catch",
    "scope": null,
    "uncaught": false,
    "x": 410,
    "y": 700,
    "wires": [["bd4f9094745d3450", "31615abdbc50d96d"]]
  },
  {
    "id": "23addb722a862d6b",
    "type": "debug",
    "z": "22f1666738d6b3b4",
    "d": true,
    "name": "Show Headers",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "req.headers",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 320,
    "wires": []
  },
  {
    "id": "2d854194b0147b5a",
    "type": "function",
    "z": "22f1666738d6b3b4",
    "name": "Response status",
    "func": "/**\n * Success\n */\nif (!msg.error) {\n   msg.statusCode = 200;\n   msg.payload = { ok: true, message: \"Incident created successfully.\" };\n   return msg;\n}\n\n/**\n * Error\n */\nmsg.statusCode = 400;\nmsg.payload = { ok: false, message: msg.error };\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 540,
    "wires": [["cbd3fc2f3f3ecc09"]]
  },
  {
    "id": "cbd3fc2f3f3ecc09",
    "type": "http response",
    "z": "22f1666738d6b3b4",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 1260,
    "y": 540,
    "wires": []
  },
  {
    "id": "bd4f9094745d3450",
    "type": "http response",
    "z": "22f1666738d6b3b4",
    "name": "Error Response",
    "statusCode": "400",
    "headers": {},
    "x": 1280,
    "y": 700,
    "wires": []
  },
  {
    "id": "9519e5973dbeaaf5",
    "type": "function",
    "z": "22f1666738d6b3b4",
    "name": "Prepare Payload",
    "func": "// Prepare the body parameters for Grafana Incident\nlet title = msg.payload.event.alert?.title || \"Screenshot\";\n\n/**\n * Payload\n */\nmsg.payload = {\n   message: msg.payload.message,\n   severity: msg.req.headers.severity || \"major\",\n   title: msg.payload.event.alert?.title || \"Screenshot\"\n}\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 540,
    "wires": [["35036c801ba28094", "a764dcfcfd47a624"]]
  },
  {
    "id": "31615abdbc50d96d",
    "type": "debug",
    "z": "22f1666738d6b3b4",
    "name": "Show Catched Error",
    "active": true,
    "tosidebar": false,
    "console": true,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 780,
    "wires": []
  },
  {
    "id": "35036c801ba28094",
    "type": "debug",
    "z": "22f1666738d6b3b4",
    "d": true,
    "name": "Show Prepared Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 380,
    "wires": []
  },
  {
    "id": "31e6a27b75b84dc9",
    "type": "inject",
    "z": "22f1666738d6b3b4",
    "name": "Send Incident",
    "props": [
      {
        "p": "payload.message",
        "v": "Test Incident",
        "vt": "str"
      },
      {
        "p": "req.headers.severity",
        "v": "major",
        "vt": "str"
      },
      {
        "p": "payload.event.alert.title",
        "v": "Test Title",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 380,
    "wires": [["9519e5973dbeaaf5"]]
  },
  {
    "id": "a764dcfcfd47a624",
    "type": "http request",
    "z": "22f1666738d6b3b4",
    "name": "Send via Incident API",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://incident-prod-us-central-0.grafana.net/incident/api/v1/incoming-webhook/grafana.incident.create?title=json(message)&severity=json(severity)&caption=json(title)",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 700,
    "y": 540,
    "wires": [["2d854194b0147b5a", "d3cc27f9326d8117"]]
  },
  {
    "id": "d3cc27f9326d8117",
    "type": "debug",
    "z": "22f1666738d6b3b4",
    "d": true,
    "name": "Show Response",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 380,
    "wires": []
  }
]
