node-red/keephq-alert.json
[
  {
    "id": "53150579b274ef7f",
    "type": "tab",
    "label": "KeepHq Alert",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "fb8c1083a74a09ea",
    "type": "http in",
    "z": "53150579b274ef7f",
    "name": "Incident Trigger /keep",
    "url": "/keep",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 540,
    "wires": [["b08ac3a46196e8c1", "cd701d70accd1457", "e463e1c3092119d3"]],
    "outputLabels": ["event"]
  },
  {
    "id": "b08ac3a46196e8c1",
    "type": "debug",
    "z": "53150579b274ef7f",
    "d": true,
    "name": "Show Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 380,
    "wires": []
  },
  {
    "id": "69a362997433fe9e",
    "type": "catch",
    "z": "53150579b274ef7f",
    "name": "Error Catch",
    "scope": null,
    "uncaught": false,
    "x": 410,
    "y": 700,
    "wires": [["284014c1c00be03f", "18f08c97ff6fab48"]]
  },
  {
    "id": "cd701d70accd1457",
    "type": "debug",
    "z": "53150579b274ef7f",
    "d": true,
    "name": "Show Headers",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "req.headers",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 320,
    "wires": []
  },
  {
    "id": "8f23e954ac0afbe2",
    "type": "function",
    "z": "53150579b274ef7f",
    "name": "Response status",
    "func": "/**\n * Success\n */\nif (!msg.error) {\n msg.statusCode = 200;\n msg.payload = { ok: true, message: \"Incident created successfully in KeepHq.\" };\n return msg;\n}\n\n/**\n * Error\n */\nmsg.statusCode = 400;\nmsg.payload = { ok: false, message: msg.error };\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1030,
    "y": 540,
    "wires": [["92711d5b01d15f03"]]
  },
  {
    "id": "92711d5b01d15f03",
    "type": "http response",
    "z": "53150579b274ef7f",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 1260,
    "y": 540,
    "wires": []
  },
  {
    "id": "284014c1c00be03f",
    "type": "http response",
    "z": "53150579b274ef7f",
    "name": "Error Response",
    "statusCode": "400",
    "headers": {},
    "x": 1280,
    "y": 700,
    "wires": []
  },
  {
    "id": "e463e1c3092119d3",
    "type": "function",
    "z": "53150579b274ef7f",
    "name": "Prepare Payload for KeepHq",
    "func": "// Prepare the body parameters for KeepHq Incident\nlet title = msg.payload.event.alert?.title || \"Screenshot\";\n\n/**\n * Payload for KeepHq\n */\nmsg.payload = {\n  status: \"firing\",\n  name: msg.payload.message || \"No description provided\",\n  severity: msg.req.headers.severity || \"medium\"\n}\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 540,
    "wires": [["b0c2eded10152f4b", "bd077573fd8a1505"]]
  },
  {
    "id": "18f08c97ff6fab48",
    "type": "debug",
    "z": "53150579b274ef7f",
    "name": "Show Catched Error",
    "active": true,
    "tosidebar": false,
    "console": true,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 780,
    "wires": []
  },
  {
    "id": "b0c2eded10152f4b",
    "type": "debug",
    "z": "53150579b274ef7f",
    "d": true,
    "name": "Show Prepared Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 380,
    "wires": []
  },
  {
    "id": "730b6115a2124198",
    "type": "inject",
    "z": "53150579b274ef7f",
    "name": "Send Incident",
    "props": [
      {
        "p": "payload.message",
        "v": "Test Incident for KeepHq",
        "vt": "str"
      },
      {
        "p": "req.headers.severity",
        "v": "medium",
        "vt": "str"
      },
      {
        "p": "payload.event.alert.title",
        "v": "Test Title",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 380,
    "wires": [["e463e1c3092119d3"]]
  },
  {
    "id": "bd077573fd8a1505",
    "type": "http request",
    "z": "53150579b274ef7f",
    "name": "Send via KeepHq API",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.keephq.dev/alerts/event",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json"
      },
      {
        "keyType": "other",
        "keyValue": "X-API-KEY",
        "valueType": "other",
        "valueValue": "WEBHOOK-KEY"
      }
    ],
    "x": 740,
    "y": 540,
    "wires": [["8f23e954ac0afbe2", "1c5b2daa44bce80e"]]
  },
  {
    "id": "1c5b2daa44bce80e",
    "type": "debug",
    "z": "53150579b274ef7f",
    "d": true,
    "name": "Show Response",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1030,
    "y": 380,
    "wires": []
  }
]
