node-red/slack.json
[
  {
    "id": "8a85552c35acc9b0",
    "type": "tab",
    "label": "Slack Message",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "1",
    "type": "http in",
    "z": "8a85552c35acc9b0",
    "name": "Slack Trigger /slack",
    "url": "/slack",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 340,
    "wires": [["2", "5", "eb126e81a617c09e"]],
    "outputLabels": ["event"]
  },
  {
    "id": "2",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Set Slack Request",
    "func": "msg.headers = {\n    \"Content-Type\": \"application/json; charset=utf-8\"\n};\n\nmsg.payload = {\n    \"channel\": msg.req.headers.channel_id,\n    \"text\": msg.payload.message\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 340,
    "wires": [["3", "5597138b6fe31acc"]]
  },
  {
    "id": "3",
    "type": "http request",
    "z": "8a85552c35acc9b0",
    "name": "Send to Slack",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://slack.com/api/chat.postMessage",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [],
    "x": 660,
    "y": 340,
    "wires": [["94da7fb700cc4a3f"]]
  },
  {
    "id": "5",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 240,
    "wires": []
  },
  {
    "id": "6",
    "type": "catch",
    "z": "8a85552c35acc9b0",
    "name": "Error Catch",
    "scope": null,
    "uncaught": false,
    "x": 650,
    "y": 440,
    "wires": [["b2ab0f537ededb34"]]
  },
  {
    "id": "eb126e81a617c09e",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Headers",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "req.headers",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 180,
    "wires": []
  },
  {
    "id": "5597138b6fe31acc",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Message",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 240,
    "wires": []
  },
  {
    "id": "94da7fb700cc4a3f",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Response status",
    "func": "/**\n * Ok\n */\nif (msg.payload.ok) {\n   msg.statusCode = 200;\n   return msg;\n}\n\n/**\n * Error\n */\nmsg.statusCode = 400;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 340,
    "wires": [["619543842bde9038"]]
  },
  {
    "id": "619543842bde9038",
    "type": "http response",
    "z": "8a85552c35acc9b0",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 1100,
    "y": 340,
    "wires": []
  },
  {
    "id": "b2ab0f537ededb34",
    "type": "http response",
    "z": "8a85552c35acc9b0",
    "name": "Error Response",
    "statusCode": "400",
    "headers": {},
    "x": 1080,
    "y": 440,
    "wires": []
  }
]
