node-red/slack.json
[
  {
    "id": "8a85552c35acc9b0",
    "type": "tab",
    "label": "Slack",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "1",
    "type": "http in",
    "z": "8a85552c35acc9b0",
    "name": "Slack Trigger /slack",
    "url": "/slack",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 440,
    "wires": [["5", "eb126e81a617c09e", "75dcf1fc6f614cc0"]],
    "outputLabels": ["event"]
  },
  {
    "id": "5",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 280,
    "wires": []
  },
  {
    "id": "6",
    "type": "catch",
    "z": "8a85552c35acc9b0",
    "name": "Error Catch",
    "scope": null,
    "uncaught": false,
    "x": 390,
    "y": 600,
    "wires": [["b2ab0f537ededb34", "6763322db783c6fc"]]
  },
  {
    "id": "eb126e81a617c09e",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Headers",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "req.headers",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 220,
    "wires": []
  },
  {
    "id": "94da7fb700cc4a3f",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Response status",
    "func": "/**\n * Ok\n */\nif (msg.payload.ok) {\n   msg.statusCode = 200;\n   return msg;\n}\n\n/**\n * Error\n */\nmsg.statusCode = 400;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1350,
    "y": 500,
    "wires": [["619543842bde9038"]]
  },
  {
    "id": "619543842bde9038",
    "type": "http response",
    "z": "8a85552c35acc9b0",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 2380,
    "y": 500,
    "wires": []
  },
  {
    "id": "b2ab0f537ededb34",
    "type": "http response",
    "z": "8a85552c35acc9b0",
    "name": "Error Response",
    "statusCode": "400",
    "headers": {},
    "x": 2400,
    "y": 600,
    "wires": []
  },
  {
    "id": "75dcf1fc6f614cc0",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Prepare Payload",
    "func": "/**\n * Panel Screenshot\n */\nlet image = msg.payload.event.condition?.panelScreenshot || \"\";\nlet title = msg.payload.event.alert?.title || \"Screenshot\";\n\n/**\n * Payload\n */\nmsg.payload = {\n    channel_id: msg.req.headers.channel_id,\n    text: msg.payload.message,\n    title,\n    image\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 440,
    "wires": [["2297a0002e0a8e70", "a4a38a3ae7a16b9f"]]
  },
  {
    "id": "2297a0002e0a8e70",
    "type": "switch",
    "z": "8a85552c35acc9b0",
    "name": "Check Image",
    "property": "payload.image",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 630,
    "y": 440,
    "wires": [["3315f76aec246824"], ["5263b0722fb26a40"]]
  },
  {
    "id": "5263b0722fb26a40",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Set Message",
    "func": "/**\n * Payload\n */\nmsg.payload = {\n    channel: msg.payload.channel_id,\n    text: msg.payload.text\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 500,
    "wires": [["d51dd779c9c60c8d"]]
  },
  {
    "id": "d51dd779c9c60c8d",
    "type": "http request",
    "z": "8a85552c35acc9b0",
    "name": "Send to Slack",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://slack.com/api/chat.postMessage",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json; charset=utf-8"
      }
    ],
    "x": 1100,
    "y": 500,
    "wires": [["94da7fb700cc4a3f", "2a35fac1ee75215a"]]
  },
  {
    "id": "6763322db783c6fc",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "name": "Show Catched Error",
    "active": true,
    "tosidebar": false,
    "console": true,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 680,
    "wires": []
  },
  {
    "id": "a4a38a3ae7a16b9f",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Prepared Payload",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 280,
    "wires": []
  },
  {
    "id": "2a35fac1ee75215a",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Upload URL",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1360,
    "y": 280,
    "wires": []
  },
  {
    "id": "fb9909a3294b9744",
    "type": "http request",
    "z": "8a85552c35acc9b0",
    "name": "Get Upload URL",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "query",
    "url": "https://slack.com/api/files.getUploadURLExternal",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json; charset=utf-8"
      }
    ],
    "x": 1100,
    "y": 360,
    "wires": [["89ee4e8ad78cdf38", "2a35fac1ee75215a"]]
  },
  {
    "id": "89ee4e8ad78cdf38",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Set Upload File Payload",
    "func": "if (msg.payload.ok) {\n    msg.slackData.file_id= msg.payload.file_id;\n\n    msg.url = msg.payload.upload_url;\n    msg.payload = msg.slackData.file;\n    \n    return msg;\n}\n\nthrow \"Failed to get upload URL\";",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1370,
    "y": 360,
    "wires": [["6cebf006a77927fc"]]
  },
  {
    "id": "6cebf006a77927fc",
    "type": "http request",
    "z": "8a85552c35acc9b0",
    "name": "Upload File to URL",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/octet-stream"
      }
    ],
    "x": 1630,
    "y": 360,
    "wires": [["4eb1cd4c4539fa33", "0e0569beb8bf42c5"]]
  },
  {
    "id": "e760d3e321e1f78e",
    "type": "inject",
    "z": "8a85552c35acc9b0",
    "name": "Send Message",
    "props": [
      {
        "p": "req.headers.channel_id",
        "v": "C064838V2RZ",
        "vt": "str"
      },
      {
        "p": "payload.message",
        "v": "Test Message",
        "vt": "str"
      },
      {
        "p": "payload.event",
        "v": "{}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 220,
    "wires": [["75dcf1fc6f614cc0"]]
  },
  {
    "id": "ca140e1d0d059a6b",
    "type": "inject",
    "z": "8a85552c35acc9b0",
    "name": "Send Image",
    "props": [
      {
        "p": "req.headers.channel_id",
        "v": "C064838V2RZ",
        "vt": "str"
      },
      {
        "p": "payload.message",
        "v": "Test Message",
        "vt": "str"
      },
      {
        "p": "payload.event.alert.title",
        "v": "Title",
        "vt": "str"
      },
      {
        "p": "payload.event.condition.panelScreenshot",
        "v": "data:image/png;base64,ABC",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 280,
    "wires": [["75dcf1fc6f614cc0"]]
  },
  {
    "id": "6dea017033cc3095",
    "type": "http request",
    "z": "8a85552c35acc9b0",
    "name": "Complete Upload",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "query",
    "url": "https://slack.com/api/files.completeUploadExternal",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "bearer",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json; charset=utf-8"
      }
    ],
    "x": 2150,
    "y": 360,
    "wires": [["619543842bde9038", "abceb70cd342dab3"]]
  },
  {
    "id": "4eb1cd4c4539fa33",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Set Complete Payload",
    "func": "/**\n * Payload\n */\nmsg.payload = {\n    initial_comment: msg.slackData.initial_comment,\n    channel_id: msg.slackData.channel_id,\n    files: [{id: msg.slackData.file_id, title: msg.slackData.title}]\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1900,
    "y": 360,
    "wires": [["6dea017033cc3095"]]
  },
  {
    "id": "0e0569beb8bf42c5",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Uploaded File Response",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1940,
    "y": 280,
    "wires": []
  },
  {
    "id": "abceb70cd342dab3",
    "type": "debug",
    "z": "8a85552c35acc9b0",
    "d": true,
    "name": "Show Complete Response",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2440,
    "y": 360,
    "wires": []
  },
  {
    "id": "3315f76aec246824",
    "type": "function",
    "z": "8a85552c35acc9b0",
    "name": "Set Upload URL Payload",
    "func": "/**\n * Convert Base64 to Buffer\n */\nlet file = msg.payload.image;\nfile = file.substring(file.indexOf(',') + 1);\nfile = Buffer.from(file, 'base64');\n\n/**\n * Store data in msg\n */\nmsg.slackData = {\n    initial_comment: msg.payload.text,\n    channel_id: msg.payload.channel_id,\n    title: `${msg.payload.title}.png`,\n    file: file\n};\n\n/**\n * Payload\n */\nmsg.payload = {\n    filename: msg.payload.title,\n    length: file.length,\n    filetype: \"png\"\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 400,
    "wires": [["fb9909a3294b9744"]]
  }
]
